.message details {
	summary {
		list-style: none;
		cursor: pointer;

		span {
			font-family: Poppins, sans-serif;
			font-size: 28px;
			font-weight: 600;
		}

		svg {
			height: 1.5rem;
			margin-bottom: 0.1rem;

			@include ltr-property("margin", 0.5rem);
		}

		.summary-icon {
			transform: rotate(0);
			transform-origin: center;
			transition: 0.25s transform ease;
		}

		* {
			display: inline;
		}

		&::marker {
			display: none;
		}
	}

	&[open] summary .summary-icon {
		transform: rotate(if($rtl, -90deg, 90deg));
	}

	p:first-of-type {
		margin-top: 1rem;
	}
}
