* {
	scroll-behavior: smooth;
	transition: filter 1s;
}

.columns {
	margin-left: 0;
	margin-right: 0;
}

hr {
	border: $default-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a.is-anchor {
		display: none;
	}

	&:hover,
	&:focus,
	&:active {
		a.is-anchor {
			display: inline;
		}
	}
}

kbd {
	color: $code;
	background-color: $dark;

	// Stolen from MDN docs
	padding: 2px 4px;
	border: 2px solid black;
	border-radius: 3px;
	box-shadow: 2px 2px black;
	line-height: 1;
	display: inline-block;
	white-space: nowrap;

	&:hover {
		transform: translate(2px, 2px);
		box-shadow: none;
	}
}
article.blog-post {
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
	&.with-divider:not(:last-child) {
		border-bottom: 1px solid darken($text, 40%);
	}
}

@include tablet {
	.is-sticky {
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;

		top: 1rem;
		max-height: calc(100vh - 2rem);
		overflow-y: scroll;
	}
}

.grid-picker {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin-bottom: 1rem;

	> * {
		margin: 1rem !important;
	}

	img {
		width: 4rem !important;
	}
}

.notification.is-installer-button {
	height: 12rem;
	width: 12rem;

	margin: 1rem;
	padding: 1rem;

	&:hover,
	&:active {
		background-color: darken($dark, 5%);
	}

	div {
		display: grid;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		width: 100%;
		height: 100%;

		p {
			grid-row: 1;
			grid-column: 1;

			justify-self: center;
			width: 10rem;
			height: 3.2rem;
		}

		img {
			grid-row: 2;
			grid-column: 1;

			margin-bottom: 2rem;

			justify-self: center;
			width: 10rem;
		}
	}
}

span.inline-divider {
	border: 1px solid transparent;
	display: inline-block;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-bottom: 1rem;
	width: 1px;
}

.max-width-50 {
	max-width: 50rem;
}

.column {
	min-width: 0;
}

.columns {
	overflow-x: auto;
}

.content .tabs ul {
	margin-left: 0;
}

// Make footer expand if page is too small
.page {
	display: flex;
	flex-direction: column;
}

.footer {
	flex: 1 1 auto;
}

body {
	// Force minimum height of document body to be the viewport height
	min-height: 100vh;
}

.navbar .navbar-brand .navbar-logo {
	img {
		@include ltr {
			margin-right: 0.5em;
		}
		@include rtl {
			margin-left: 1em;
		}
	}
}

@include rtl {
	.navbar-dropdown {
		left: auto;
		right: 0;

		&.is-right {
			left: 0;
			right: auto;
		}
		.icon {
			margin-right: 0;
			margin-left: 0.5rem;
		}
	}
}

.patchnotes-image {
	@include ltr-property("margin", 2rem, false);
	float: if($rtl, left, right);
}

@include rtl {
	pre,
	pre * {
		direction: ltr;
	}
}

.heading-with-button {
	display: flex;
	flex-direction: row;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		flex-grow: 1;
	}

	.button,
	button {
		flex-shrink: 1;
	}
}

@include rtl {
	@include tablet {
		.field-label {
			text-align: left;
			margin-left: 1.5rem;
			margin-right: 0;
		}
	}
}

@include ltr {
	.is-rtl {
		display: none !important;
	}
}

@include rtl {
	.is-ltr {
		display: none !important;
	}
}

// Remove bulma's styles, which break code highlighting
.tag {
	all: unset !important;
}

// Set the tab-stop to 4 for now, allowing it to be customized via CSS variables

:root {
	--tab-stop: 4;
}

* {
	tab-size: var(--tab-stop);
}

hr {
	background-color: $hr-color;
	border-color: $hr-color;
}

a.notification {
	color: $notification-link-color;
}

span.inline-divider {
	background-color: $inline-divider-color;
	border-color: $inline-divider-color;
}

.modal-close {
	&::before,
	&::after {
		background-color: $modal-close-button-color;
	}
}

// Prevent main content from overflowing.
main {
	overflow-wrap: break-word;
}

.dropdown a.dropdown-item {
	padding-right: 1rem;
}
