.timeline .timeline-item .timeline-marker.is-icon {
  height: 3rem;
  width: 3rem;

  background-color: darken($dark, 10%);

  > svg {
    height: 1.5rem;
  }
}

.timeline-item .is-icon + .timeline-content .heading {
  margin-top: 1.2rem;
}
