{% assign name = include.name -%}

<a href="https://github.com/QuiltMC/{{ name }}" class="button is-github">
    <span class="icon"><i class="fab fa-github"></i></span>
    <span>{{ name }}</span>
</a>
