# Fabric meta test data
src/test-data/

# IDE
.idea/

# Build output
dist

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.production

# Lockfile
pnpm-lock.yaml