.button-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 0.4rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  & > * {
    margin: 0.4rem !important;
  }
}

.button-grid + .button-grid {
  margin-top: -0.8rem;
}
