div.highlighter-rouge {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

figure.highlight {
  @if $rtl {
    text-align: right !important;
  } @else {
    text-align: left !important;
  }

  & > pre {
    background-color: $dark;
    border: $pre-border;
    border-radius: 0.2rem;
  }

  & td {
    padding: 0 !important;
  }
}
