.hero, .navbar, .font-header, .font-header > * {
  font-family: $header-font;
  font-weight: 700;
}

.font-subheader, .font-subheader > * {
  font-family: $header-font;
  font-weight: 600;
}

.button, .title, h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 700;
}

.subtitle {
  font-family: $header-font;
  font-weight: 600;
  color: $grey-light;
}
