.blog-post > {
  .title:first-child, .subtitle:first-child, h1:first-child {
    margin-bottom: 0.5rem;
  }
}

div.blog-post {
  > .media {
    margin-bottom: 1rem;
  }
}

.media .media-content {
  overflow-y: hidden;
}

.media .subtitle {
  margin-bottom: 0 !important;
}

img.emoji {
  height: 1.05rem;
  vertical-align: middle;
}

img.is-pixelated, .is-pixelated img {
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;

  image-rendering: crisp-edges;
  image-rendering: pixelated;

  -ms-interpolation-mode: nearest-neighbor;
}
