.columns {
  margin-left: 0;
  margin-right: 0;
}

hr {
  border: $default-border;
}

h1, h2, h3, h4, h5, h6 {
  a.is-anchor {
    display: none;
  }

  &:hover, &:focus, &:active {
    a.is-anchor {
      display: inline;
    }
  }
}

article.blog-post:not(:last-child) {
  margin-bottom: 1rem;
}

article.with-divider.blog-post:not(:last-child) {
  border-bottom: 1px solid darken($text, 40%);
}

@media screen and (min-width: 769px) {
  .is-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    top: 1rem;
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
  }
}

.grid-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 1rem;

  & > * {
    margin: 1rem !important;
  }

  img {
    width: 4rem !important;
  }
}

.notification.is-installer-button {
  height: 12rem;
  width: 12rem;

  margin: 1rem;
  padding: 1rem;

  &:hover, &:active {
    background-color: darken($dark, 5%);
  }

  div {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    height: 100%;

    p {
      grid-row: 1;
      grid-column: 1;

      justify-self: center;
      width: 10rem;
      height: 3.2rem;
    }

    img {
      grid-row: 2;
      grid-column: 1;

      margin-bottom: 2rem;

      justify-self: center;
      width: 10rem;
    }
  }
}

span.inline-divider {
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
  width: 1px;
}

.max-width-50 {
  max-width: 50rem;
}

body > * {
  transition: all 1s ease;
}

#theme-normal-contrast, #theme-low-contrast {
  display: none;
}

.column {
  min-width: 0;
}

.columns {
  overflow-x: auto;
}
