.timeline .timeline-item .timeline-marker.is-icon {
  padding: 1.5rem;

  background-color: darken($dark, 10%);
}

.timeline-item .is-icon + .timeline-content .heading {
  margin-top: 1.2rem;
}

@include rtl {
  .timeline.is-rtl {
    justify-content: flex-start;
    align-items: flex-start;

    .timeline-item {
      justify-content: flex-start;
    }
  }
}
