---
layout: default
title: Install
permalink: /install/
---

<div class="columns is-centered">
    <div class="column is-half">
        <div class="message is-danger">
            <div class="message-body">
                <h2 class="has-text-centered">
                    <span class="icon-text">
                        <span class="icon has-text-danger mr-3">
                            <i class="fas fa-warning"></i>
                        </span>

                        <span>WIP</span>
                    </span>
                </h2>

                <p>
                    <strong>Quilt is currently still in development.</strong> This means that it's not ready for wide
                    use just yet, but we're working on it!
                </p>

                <p>
                    If you'd like to help us test Quilt and prepare for the eventual stable release, please feel free
                    to install it, try it, and let us know how you get on!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-5">
        <div class="has-text-centered content mb-0 pb-0">
            <h1 class="mb-0">Direct Installation</h1>
        </div>

        <div class="grid-picker">
            {% include install/main.liquid %}
        </div>

        <div class="has-text-centered content mb-0 pb-0">
            <h1 class="mb-0">Launchers</h1>
        </div>

        <div class="grid-picker">
            {% include install/launchers.liquid %}
        </div>
    </div>

    <div class="column is-7">
        <div class="has-text-centered content mb-0 pb-0">
            <h1>Awaiting Support</h1>

            <div class="message is-primary">
                <div class="message-body has-text-left">
                    Launchers in this list don't currently support Quilt &mdash; but someone has asked them to, or
                    they're already working on it. You can click on them to find out more about how they're doing
                    &mdash; or how to manually install Quilt with them, where possible.
                </div>
            </div>
        </div>

        <div class="grid-picker">
            {% include install/awaiting.liquid %}
        </div>
    </div>
</div>
