<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.title %}
        <title>{{ page.title }} &ndash; {{ site.title }}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet">

        {% feed_meta %}
    </head>
    <body class="page">
        <nav class="main">
            <div class="container">
                <a class="logo" href="{{ site.baseurl }}/">
                    <img src="{{ "/assets/img/logo-white.svg" | relative_url }}"
                         alt="Quilt Logo"/>
                    <span class="logo-text">{{ site.short_title }}</span>
                </a>

                <a class="nav-expand" href="javascript:void(0);">
                    <img src="/assets/img/hamburger.svg" class="hamburger" alt="Expand Navigation">
                </a>
                <div class="links">
                    {% include nav_link.html text="Play" href="/play/" %}
                    {% include nav_link.html text="Develop" href="/dev/" %}
                    {% include nav_link.html text="Blog" href="/blog/" %}
                    {% include nav_link.html text="Community" href="/community/" %}
                    <a href="#">Wiki</a>
                </div>
            </div>
        </nav>
        
        <main class="container">
            {{ content }}
        </main>

        <footer>
            <div class="container">
                <p>Copyright &copy; 2021 Quilt Project</p>
                <p>
                    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
                    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
                    <a href="https://twitch.tv/{{ site.twitch_username }}">Twitch</a>
                </p>
                </ul>
            </div>
        </footer>

        {% if page.js %}
        <script src="/assets/js/bundle.js"></script>
        {% endif %}
    </body>
</html>

