---
layout: base
---

{% include variables.liquid %}

{% columns is-centered %}
{% column is-10 %}

<section class="section">
    <div class="columns">
        <div class="column is-narrow" data-controller="sidebar">
            <div class="is-hidden-tablet">
                <button data-action="click->sidebar#toggle" class="button is-primary">
                    <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
                    <span>Documents</span>
                </button>

                <br />
                <br />
            </div>

            <div class="box is-hidden-mobile is-sticky" data-sidebar-target="sidebar" data-scroll-to-top="true">
                <aside class="menu">
                    <p class="menu-label">Documents</p>

                    <ul class="menu-list">
                        {% assign pages = site.community | sort: "title" %}
                        {% for p in pages %}
                        <li>
                            <a href="{{p.url}}" class="{% if page.url == p.url %}is-active{% endif %}">{% t p.title %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>

        <div class="content column">
            <div class="media mb-5">
                <div class="media-content">
                    <h1 class="title">
                        {{ title }}
                    </h1>
                    <p class="subtitle is-6">
                        Edited: {% edit_date format-date %}
                    </p>
                </div>
            </div>

            {% include third-party/anchor_headings.html html=content anchorClass="is-anchor ml-2" anchorBody="<i class='fas fa-sm fa-link-simple'></i>" %}
        </div>
    </div>
</section>

{% endcolumn %}
{% endcolumns %}
