---
layout: default
---

<div class="columns">
    <div class="column is-5" data-controller="sidebar">
        <div class="is-hidden-tablet">
            <a class="button is-link" href="/install">
                <span class="icon"><i class="fas fa-arrow-left"></i></span>
                <span>Back</span>
            </a>

            <button data-action="click->sidebar#toggle" class="button is-primary">
                <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
                <span>Menu</span>
            </button>

            <br/>
            <br/>
        </div>

        <div class="is-hidden-mobile" data-sidebar-target="sidebar" data-scroll-to-top="true">
            <a class="is-hidden-mobile button is-link mb-2" href="/install">
                <span class="icon"><i class="fas fa-arrow-left"></i></span>
                <span>Back to list</span>
            </a>

            <div class="grid-picker mb-0">
                {% include install/main.liquid %}
            </div>

            <hr class="my-0" />

            <div class="grid-picker mb-0">
                {% include install/launchers.liquid %}
            </div>

            <hr class="my-0" />

            <div class="grid-picker">
                {% include install/awaiting.liquid %}
            </div>

            <hr class="is-hidden-desktop is-hidden-tablet my-0" />
        </div>
    </div>

    <div class="column">
        {{ content }}
    </div>
</div>
