---
layout: default
---

{% include variables.liquid %}

<div class="columns">
    <div class="column is-5" data-controller="sidebar">
        <div class="is-hidden-tablet">
            <a class="button is-link" href="/install">
                <span class="icon"><i class="fas fa-arrow-{{ left }}"></i></span>

                <span>Back</span>
            </a>

            <button data-action="click->sidebar#toggle" class="button is-primary">
                <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
                <span>Menu</span>
            </button>

            <br/>
            <br/>
        </div>

        <div class="is-hidden-mobile" data-sidebar-target="sidebar" data-scroll-to-top="true">
            <a class="is-hidden-mobile button is-link mb-2" href="/install">
                {% if rtl %}
                    <span class="icon"><i class="fas fa-arrow-right"></i></span>
                {% else %}
                    <span class="icon"><i class="fas fa-arrow-left"></i></span>
                {% endif %}

                <span>Back to list</span>
            </a>

            <div class="grid-picker mb-0">
                {% include install/main.liquid %}
            </div>

            <hr class="my-0"/>

            <div class="grid-picker mb-0">
                {% include install/launchers.liquid %}
            </div>

            <hr class="my-0"/>

            <div class="grid-picker">
                {% include install/awaiting.liquid %}
            </div>

            <hr class="is-hidden-desktop is-hidden-tablet my-0"/>
        </div>
    </div>

    <div class="column">
        <div class="message is-danger">
            <div class="message-body">
                <h2 class="has-text-centered">
                    <span class="icon-text">
                        <span class="icon has-text-danger mr-3">
                            <i class="fas fa-warning"></i>
                        </span>

                        <span>WIP</span>
                    </span>
                </h2>

                <p>
                    <strong>Quilt is in beta.</strong> Here be dragons - there may be issues, but we'll fix them
                    as quickly as we can!
                </p>
                <p>
                    If you'd like to help us test Quilt, please feel free to install it, try it, and let us know how
                    you get on!
                </p>
            </div>
        </div>

        {{ content }}
    </div>
</div>
