---
layout: base
---

{% columns is-centered %}
{% column is-10 %}

<section class="section">
    <div class="columns">
        <div class="column is-narrow" data-controller="sidebar">
            <div class="is-hidden-tablet">
                <button data-action="click->sidebar#toggle" class="button is-dark">
                    <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
                    <span>Pages &amp; Documents</span>
                </button>
                <br/>
                <br/>
            </div>

            <div class="box is-hidden-mobile is-sticky" data-sidebar-target="sidebar" data-scroll-to-top="true">
                <aside class="menu">
                    <p class="menu-label">Pages</p>

                    <ul class="menu-list">
                        <li>
                            <a href="/staff/" class="{% if page.url == '/staff/' %}is-active{% endif %}">Staff
                                Resources</a>
                        </li>
                    </ul>

                    <p class="menu-label">Teams</p>

                    {% comment %} This was _fucking awful_ to write. I miss Jinja2. {% endcomment %}

                    <ul class="menu-list">
                        {% assign pages = site.staff | sort_natural: "path" | where_expr: "p", "p.url != '/staff/'" %}
                        {% assign page_slash_count = page.path | count: "/" %}

                        {% for p in pages %}
                        {% assign slash_count = p.path | count: "/" %}

                        {% assign is_subpage = page.url | startswith: p.url %}
                        {% assign is_current = page.url | eq: p.url %}

                        {% if p.url != '/staff/' %}
                        {% if slash_count == 1 %}
                        {% if page_slash_count == 1 %}
                        <li>
                            <a href="{{p.url}}" class="{% if page.url == p.url %}is-active{% endif %}">{{p.title}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{p.url}}" class="{% if is_subpage %}is-active{% endif %}">{{p.title}}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        {% if page.url != "/staff/" %}
                        {% assign page_slash_count = page.path | count: "/" %}

                        {% assign matched_pages = pages | where_exp: "item", "item.url contains page.url" %}
                        {% assign matched_pages = matched_pages | count_gte: "url", "/", 3 %}

                        {% if page_slash_count < 2 %}
                        {% assign matched_pages = matched_pages | where_exp: "item", "item.url != page.url" %}
                        {% endif %}

                        {% assign page_count = matched_pages | size %}

                        {% if page_count > 0 %}
                        <p class="menu-label">Documents</p>

                        <ul class="menu-list">
                            {% for p in matched_pages %}
                            <li>
                                <a href="{{p.url}}"
                                   class="{% if page.url == p.url %}is-active{% endif %}">{{p.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endif %}
                    </ul>
                </aside>
            </div>
        </div>

        <div class="content column">
            <div class="media mb-5">
                <div class="media-content">
                    <h1 class="title">
                        {{ page.title }}
                    </h1>

                    {% if page.author %}
                        <p class="subtitle is-6">
                            Author: {{ page.author }}
                        </p>
                    {% else %}
                        {% if page.authors %}
                            <p class="subtitle is-6">
                                Authors: {{ page.authors | join: ', ' }}
                            </p>
                        {% endif %}
                    {% endif %}

                    <p class="subtitle is-6">
                        Edited: {% edit_date %}
                    </p>
                </div>
            </div>

            {% include third-party/anchor_headings.html html=content anchorClass="is-anchor ml-2" anchorBody="<i
                class='fas fa-sm fa-link-simple'></i>" %}
        </div>
    </div>
</section>

{% endcolumn %}
{% endcolumns %}
