@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

@import "themes/light/base.scss";
@import "murphy.scss";
