---
import {Icon} from "astro-icon/components"

export interface Props {
	id: string;
	title: string;
	icon: string;
}

const { id, title, icon } = Astro.props as Props;

---

<div class="timeline-item">
	<div class="timeline-marker is-icon is-dark">
		 <Icon name={icon} style="min-width: 1.2em; min-height: 1.2em;  display:block;"/>
	</div>

	<div class="timeline-content">
		<h6 class="heading" {id}>{title}</h6>
		<slot />
	</div>
</div>
