---
import PumpkinIcon from '../../assets/icon/solid/pumpkin.svg?raw';

export interface Props {
	id: string;
	title: string;
	icon: string;
}

const { id, title, icon } = Astro.props as Props;

const customIcons: any[any] = {
	'pumpkin': PumpkinIcon,
}
---

<div class="timeline-item">
	<div class="timeline-marker is-icon is-dark">
		{icon.startsWith('custom:') ? (<div style="min-width: 1.25em; padding-top: 0.4em; display:inline-block;"><Fragment set:html={customIcons[icon.substring('custom:'.length)]} /></div>) : (<i class={icon} />)}
	</div>

	<div class="timeline-content">
		<h6 class="heading" {id}>{title}</h6>
		<slot />
	</div>
</div>
