---
import {Icon} from "astro-icon/components"

export interface Props {
	id: string;
	title: string;
	icon: string;
}

const { id, title, icon } = Astro.props as Props;

---

<div class="timeline-item">
	<div class="timeline-marker is-icon is-dark">
		{icon.startsWith('custom:') ? (<div style="min-width: 1.25em; padding-top: 0.4em; display:inline-block;"><Icon name="pumpkin" /></div>) : (<i class={icon} />)}
	</div>

	<div class="timeline-content">
		<h6 class="heading" {id}>{title}</h6>
		<slot />
	</div>
</div>
