---
---

<head>
	<link
		rel="preload"
		{/*@ts-ignore*/}
		fetchpriority="high"
		as="image"
		href="/assets/img/sponsors/chs/cloud-white-text.svg"
		type="image/svg+xml"
		media="(prefers-color-scheme: dark)"
	/>
	<link
		rel="preload"
		{/*@ts-ignore*/}
		fetchpriority="high"
		as="image"
		href="/assets/img/sponsors/chs/cloud-dark-text.svg"
		type="image/svg+xml"
		media="(prefers-color-scheme: light)"
	/>
</head>

<a
	href="https://chs.gg"
	class="button mx-2 my-2 p-2 is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
	style="border-radius: 5%; height: 8rem; width: 9rem;"
	title="Capitol Hosting Solutions"
>
	<picture style="margin: auto; height: 6rem">
		<source
			srcset="/assets/img/sponsors/chs/cloud-white-text.svg"
			media="(prefers-color-scheme: dark)"
		/>

		<img
			class="is-center"
			style="margin:auto; height: 6rem; max-width: 8rem;"
			height="840"
			width="728"
			alt="Capitol Hosting Solutions Logo"
			src="/assets/img/sponsors/chs/cloud-dark-text.svg"
		/>
	</picture>
</a>
