---
---

<head>
	<link
		rel="preload"
		{/*@ts-ignore*/}
		fetchpriority="high"
		as="image"
		href="/assets/img/sponsors/cloudflare/logo-white-text.svg"
		type="image/svg+xml"
		media="(prefers-color-scheme: dark)"
	/>

	<link
		rel="preload"
		{/*@ts-ignore*/}
		fetchpriority="high"
		as="image"
		href="/assets/img/sponsors/cloudflare/logo-dark-text.svg"
		type="image/svg+xml"
		media="(prefers-color-scheme: light)"
	/>
</head>

<a
	href="https://cloudflare.com/"
	class="button mx-2 my-2 p-2 is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
	style="border-radius: 0.5rem; border: none; height: 9rem"
	title="Cloudflare"
>
	<picture style="margin: auto; height: 7rem">
		<source
			srcset="/assets/img/sponsors/cloudflare/logo-white-text.svg"
			media="(prefers-color-scheme: dark)"
		/>

		<img
			class="is-center"
			style="margin:auto; height: 7rem; width: fit-content"
			height="840"
			width="2485"
			alt="Capitol Hosting Solutions Logo"
			src="/assets/img/sponsors/cloudflare/logo-black-text.svg"
		/>
	</picture>
</a>
