---
import rtlSettings from "@data/RtlSettings";
import { localizePath } from "@util/Util";
import { t } from "i18next";

const { rtl } = rtlSettings();
const text = t("button-sponsors", { ns: "home" })
---

<a
	href={localizePath("/sponsors")}
	class="button is-link p-2 px-4"
	style="margin-left: auto; margin-top: auto; margin-bottom: auto; border-radius: 0.5rem;"
>
	<span>{ text }</span>

	<span class="icon">
		<i class={`fas fa-arrow-${rtl ? "left" : "right"}`}></i>
	</span>
</a>
