---
export interface Props {
	href: URL | string;
}

const {
	href,
} = Astro.props as Props;
---

<a
	href={ href }
	class="button mx-2 my-2 p-2 is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
	style="border-radius: 0.5rem; border: none; height: 8rem; width: 9rem;"
>
	<slot />
</a>
