---
// @ts-ignore
import { t } from "i18next";

import CloudflareItem from "./CloudflareItem.astro";
import CHSItem from "./CHSItem.astro";
import MoreSponsorRowItem from "./MoreSponsorRowItem.astro";

const header = t("header-sponsors", { ns: "home" })
---

<style>
	div#sponsor-row {

	}
</style>

<div class="has-background-dark">
	<div class="content container py-5 px-6">
		<h4 class="title is-4 has-text-centered">{ header }</h4>

		<div class="is-flex is-flex-direction-column is-flex-wrap-wrap">
			<div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center">
				<CHSItem />
				<CloudflareItem />
			</div>

			<div class="is-flex is-flex-direction-row is-flex-wrap-wrap mt-2">
				<MoreSponsorRowItem />
			</div>
		</div>
	</div>
</div>
