---
// @ts-ignore
import { t } from "i18next";

import CHSItem from "./CHSItem.astro";
import MoreSponsorRowItem from "./MoreSponsorRowItem.astro";

const header = t("header-sponsors", { ns: "home" })
---

<div class="has-background-dark">
	<div class="content container py-5 px-6">
		<h4 class="title is-4 has-text-centered">{ header }</h4>

		<div class="is-flex is-flex-direction-row is-flex-wrap-wrap">
			<CHSItem />

			<MoreSponsorRowItem />
		</div>
	</div>
</div>
