<a class="notification is-installer-button" href="/install/curseforge">
    <div>
        <p class="subtitle has-text-centered">CurseForge</p>

        <img src="/assets/img/launchers/curseforge.svg" alt="CurseForge logo"/>
    </div>
</a>

<a class="notification is-installer-button" href="/install/gdlauncher">
    <div>
        <p class="subtitle has-text-centered">GDLauncher</p>

        <img src="/assets/img/launchers/gdlauncher.webp" alt="GDLauncher logo"/>
    </div>
</a>

<a class="notification is-installer-button" href="/install/technic">
    <div>
        <p class="subtitle has-text-centered">Technic Launcher</p>

        <img src="/assets/img/launchers/technic.svg" alt="Technic Launcher logo"/>
    </div>
</a>
