<a class="notification is-installer-button" href="/install/curseforge">
    <div>
        <p class="subtitle has-text-centered">CurseForge</p>

        <img src="/assets/img/launchers/curseforge.svg" alt="CurseForge logo"/>
    </div>
</a>

<a class="notification is-installer-button" href="/install/gdlauncher">
    <div>
        <p class="subtitle has-text-centered">GDLauncher</p>

        <img src="/assets/img/launchers/gdlauncher.webp" alt="GDLauncher logo"/>
    </div>
</a>

<a class="notification is-installer-button" href="/install/multimc">
    <div>
        <p class="subtitle has-text-centered">MultiMC</p>

        <img src="/assets/img/launchers/multimc.svg" alt="MultiMC logo"/>
    </div>
</a>
