<a class="notification is-dark is-installer-button" href="/install/atlauncher">
    <div>
        <p class="subtitle has-text-centered">ATLauncher</p>

        <img src="/assets/img/launchers/atlauncher.svg" alt="ATLauncher logo"/>
    </div>
</a>

<a class="notification is-dark is-installer-button" href="/install/multimc">
    <div>
        <p class="subtitle has-text-centered">MultiMC</p>

        <img src="/assets/img/launchers/multimc.svg" alt="MultiMC logo"/>
    </div>
</a>

<a class="notification is-dark is-installer-button" href="/install/polymc">
    <div>
        <p class="subtitle has-text-centered">PolyMC</p>

        <img src="/assets/img/launchers/polymc.svg" alt="PolyMC logo"/>
    </div>
</a>

<a class="notification is-dark is-installer-button" href="/install/technic">
    <div>
        <p class="subtitle has-text-centered">Technic</p>

        <img src="/assets/img/launchers/technic.svg" alt="Technic Launcher logo"/>
    </div>
</a>
