<a class="notification is-dark is-installer-button" href="/install/client">
    <div>
        <p class="subtitle has-text-centered">Minecraft Launcher</p>

        <img src="/assets/img/launchers/minecraft.png" alt="Minecraft logo"/>
    </div>
</a>

<a class="notification is-dark is-installer-button" href="/install/server">
    <div>
        <p class="subtitle has-text-centered">Server</p>

        <img src="/assets/img/launchers/server.svg" alt="Java logo"/>
    </div>
</a>
