hr {
  background-color: $grey-lighter;
  border-color: $grey-lighter;
}

a.notification {
  color: black;
}

span.inline-divider {
  background-color: $grey-lighter;
  border-color: $grey-lighter;
}

#theme-switcher {
  display: none;
}
