---
---

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

@import "vars";

@import "admonitions";
@import "body";
@import "text";
@import "block";
@import "buttons";
@import "columns";
@import "nav/main";
@import "nav/buttons";
@import "nav/sidebar";

@import "home";
@import "blog";

@import "colors";

// Floats
.right { float: right; }
.left { float: left; }
.clear { clear: both; }

// Misc flex
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

// loading animation
@import "loading.css";

// container for the loading animation
.loading-container {
    @extend .block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

