---
---

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

@import "base";

.hero, .navbar, .font-header, .font-header > * {
  font-family: $header-font;
}

.button.is-discord {
  background-color: $blurple;
  border-color: $blurple-light;
  color: $white;

  &:hover, &:active {
    border-color: $blurple-dark;
    color: $link-hover;
  }
}

.button.is-github {
  background-color: $white;
  border-color: $grey;
  color: $black;

  &:hover, &:active {
    border-color: $black-ter;
    color: $black-ter;
  }
}
