---
import { t } from "i18next";
---

<div class="field-label is-normal mt-1">
	<installer-version class="title is-6">
		{t("install:installer-version-placeholder")}
	</installer-version>
</div>

<script>
	import semverRSort from "semver/functions/rsort"

	const VERSION_REGEX = /<version>(.+?)<\/version>/g;
	const INSTALLER_URL_BASE =
		"https://maven.quiltmc.org/repository/release/org/quiltmc/quilt-installer/";
	const MAVEN_METADATA_URL = INSTALLER_URL_BASE + "maven-metadata.xml";

	class InstallerVersion extends HTMLElement {
		constructor() {
			super();
		}

		async connectedCallback() {
			const metadataRequest = await fetch(MAVEN_METADATA_URL, { headers: { "User-Agent": "QuiltMC Website API" } });
			const metadata = await metadataRequest.text();
			const allVersion = Array.from(metadata.matchAll(VERSION_REGEX)).map(match => match[1]);
			this.textContent = semverRSort(allVersion)[0]; // latest
		}
	}

	customElements.define('installer-version', InstallerVersion);
</script>
