<div data-controller="loader-json">
	<div class="columns max-width-50">
		<div class="column is-half">
			<div class="field is-fullwidth">
				<label for="minecraft-select" class="label">Minecraft Version</label>
				<div class="control is-fullwidth">
					<div class="select is-fullwidth">
						<select id="minecraft-select" disabled>
							<option>Loading...</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="column is-half">
			<div class="field is-fullwidth">
				<label for="loader-select" class="label">Loader Version</label>
				<div class="control is-fullwidth">
					<div class="select is-fullwidth">
						<select id="loader-select">
							<option>Loading...</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="columns max-width-50">
		<div class="column has-text-centered">
			<div class="field">
				<div class="field-body">
					<div class="field">
						<div class="control">
							<a id="button-target" class="button" disabled>
								Download version.json
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/src/util/technic.ts"></script>