---
import HomeMessage from "@parts/home/HomeMessage.astro";
//@ts-ignore
import { Trans } from "astro-i18next/components";
---

<HomeMessage style="danger" iconType="danger" icon="warning" tKey="wip">
	<Trans i18nKey="install:wip-warning">
		<p>
			<strong>Quilt is in beta.</strong> Here be dragons - there may be issues, but
			we'll fix them as quickly as we can!
		</p>
		<p>
			If you'd like to help us test Quilt, please feel free to install it, try
			it, and let us know how you get on!
		</p>
	</Trans>
</HomeMessage>
