---
export interface Props {
	name: string;
	tab: string;
}

const props = Astro.props as Props;

const name = props.name;
const tab = props.tab;
---

<li>
	<a class="tab-group-link" data-target={tab}>{name}</a>
</li>
