---
import OpenApiGuiSwagger from '@astro-openapi/gui-swagger/OpenApiGuiSwagger.astro';
import Base from "@layouts/Base.astro";

// TODO figure out whether this is still needed
// import swaggerDarkCss from "../styles/swagger-dark.css?raw";

export const prerender = true;
---

<style is:inline>
    pre.version {
        background-color: inherit !important;
    }
</style>
<!-- <style is:inline set:html={swaggerDarkCss}></style> -->

<Base content={{title: "Quilt API Index", description: "Index for the Quilt Website API"}}>
    <div id="swagger-ui"></div>

    <noscript>
        <article class="message is-danger">
            <div class="message-body">
                <p>Javascript is required to view this page</p>
            </div>
        </article>
    </noscript>

	<OpenApiGuiSwagger schemaUrl="/api/openapi.yaml" />
</Base>
