---
import "/src/styles/style.scss";
---

<head>
	<meta charset="utf-8" />
	<title>Redirecting to /en/</title>
	<meta http-equiv="refresh" content="0; /en/" />
	<link rel="canonical" href="/en/" />
</head>