@import "vars-dark";

@import "../../node_modules/bulma/bulma";

hr {
  border: 1px solid darken($text, 30%);
}

$transparent-text: transparentize($text, 0.7);

.menu-label {
  border-bottom: 2px solid $transparent-text;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    box-shadow: none;
    border-bottom: 2px solid $transparent-text;
    border-top: 2px solid $transparent-text;
  }
}


figure.highlight {
  & > pre {
    background-color: $dark;
    border: 1px solid lighten($dark, 20%);
  }
}

.hero .tabs.is-boxed li.is-active a {
  background-color: $body-background-color !important;
  border-color: transparent !important;
  color: $text !important;
}

.has-background-patches {
  background-image: url("/assets/img/hero-bg.svg");
  background-position: top;
  background-repeat: repeat;
  background-size: 25rem;
}

.hero.has-background-patches {
  .navbar-menu, .navbar-brand {
    background-color: transparentize($dark, 0.3);
  }
}

article.with-divider.blog-post:not(:last-child) {
  border-bottom: 1px solid darken($text, 40%);
}

.button, .title, h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 700;
}

.subtitle {
  font-family: $header-font;
  font-weight: 600;
  color: $grey-light;
}

// Copied the Bulma selector since nothing else seems to work
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-item.has-dropdown {
  color: $text;

  &, > a, > .navbar-link {
    &:hover, &:focus, &:focus-within, &.is-active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .navbar-link, .navbar-item {
    color: $text !important;
  }

  .navbar-dropdown {
    box-shadow: none;
    border-top-width: 1px;

    @media screen and (min-width: 1024px) {
      border: 1px solid transparentize($text, 0.5);
    }
  }
}

* {
  scrollbar-color: transparentize($text, 0.5) rgba(0, 0, 0, 0.2) !important;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: transparentize($text, 0.5);
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

.media .media-content {
  overflow-y: hidden;
}
