@import "vars-light";

@import "../../node_modules/bulma/bulma";

.content {
  article:not(:first-child) {
    margin-top: 1.1428em;
  }

  h4:not(:first-child) {
    margin-top: 1.1428em;
  }

  h5:not(:first-child) {
    margin-top: 1.1428em;
  }
}

hr {
  border: 1px solid lighten($text, 20%);
}

img.emoji {
  height: 1.05rem;
  vertical-align: middle;
}

$transparent-text: transparentize($text, 0.7);

.menu-label {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid $transparent-text;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    box-shadow: none;
    border-bottom: 2px solid $transparent-text;
    border-top: 2px solid $transparent-text;
  }
}

.navbar-item .icon {
  margin-right: 0.5rem;
}

.button-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 0.4rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  & > * {
    margin: 0.4rem !important;
  }
}

.grid-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 1rem;

  & > * {
    margin: 1rem !important;
  }

  img {
    width: 4rem !important;
  }
}

figure.highlight {
  text-align: left !important;

  & > pre {
    background-color: $dark;
    border: 1px solid darken($dark, 20%);
    border-radius: 0.2rem;
  }

  & td {
    padding: 0 !important;
  }
}

.hero .tabs.is-boxed li.is-active a {
  background-color: $white !important;
  border-color: transparent !important;
  color: $text !important;
}

.message.is-fullheight {
  height: 100%;

  .message-body {
    height: 100%;
  }
}

.has-background-patches {
  background-image: url("/assets/img/hero-bg-light.svg");
  background-position: center;
  background-size: cover;
}

article.blog-post:not(:last-child) {
  border-bottom: 1px solid lighten($text, 40%);
}
