@import "vars-light";

@import "../../node_modules/bulma/bulma";

.content {
  article:not(:first-child) {
    margin-top: 1.1428em;
  }

  h4:not(:first-child) {
    margin-top: 1.1428em;
  }

  h5:not(:first-child) {
    margin-top: 1.1428em;
  }
}

hr {
  border: 1px solid lighten($text, 20%);
}

img.emoji {
  height: 1.05rem;
  vertical-align: middle;
}

$transparent-text: transparentize($text, 0.7);

.menu-label {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid $transparent-text;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    box-shadow: none;
    border-bottom: 2px solid $transparent-text;
    border-top: 2px solid $transparent-text;
  }
}

.navbar-item .icon {
  margin-right: 0.5rem;
}

// Copied the Bulma selector since nothing else seems to work
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-item.has-dropdown {
  color: $text;

  &, > a, > .navbar-link {
    &:hover, &:focus, &:focus-within, &.is-active {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .navbar-link, .navbar-item {
    color: $text !important;
  }

  .navbar-dropdown {
    box-shadow: none;
    border-top-width: 1px;

    @media screen and (min-width: 1024px) {
      border: 1px solid transparentize($text, 0.5);
    }
  }
}

.button-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 0.4rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  & > * {
    margin: 0.4rem !important;
  }
}

.grid-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 1rem;

  & > * {
    margin: 1rem !important;
  }

  img {
    width: 4rem !important;
  }
}

figure.highlight {
  text-align: left !important;

  & > pre {
    background-color: $dark;
    border: 1px solid darken($dark, 20%);
    border-radius: 0.2rem;
  }

  & td {
    padding: 0 !important;
  }
}

.hero .tabs.is-boxed li.is-active a {
  background-color: $white !important;
  border-color: transparent !important;
  color: $text !important;
}

.message.is-fullheight {
  height: 100%;

  .message-body {
    height: 100%;
  }
}

.has-background-patches {
  background-image: url("/assets/img/hero-bg-light.svg");
  background-position: top;
  background-repeat: repeat;
  background-size: 25rem;
}

.hero.has-background-patches {
  .navbar-menu, .navbar-brand {
    background-color: transparentize($dark, 0.3);
  }
}

article.with-divider.blog-post:not(:last-child) {
  border-bottom: 1px solid lighten($text, 40%);
}

.button, .title, h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 700;
}

.subtitle {
  font-family: $header-font;
  font-weight: 600;
  color: $grey-light;
}

@media screen and (min-width: 769px) {
  .is-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;

    top: 1rem;
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
  }
}

* {
  scrollbar-color: transparentize($text, 0.5) rgba(0, 0, 0, 0.2) !important;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $text;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

.media .media-content {
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
  a.is-anchor {
    display: none;
  }

  &:hover, &:focus, &:active {
    a.is-anchor {
      display: inline;
    }
  }
}

.timeline .timeline-item .timeline-marker.is-icon {
  height: 3rem;
  width: 3rem;

  background-color: darken($dark, 10%);

  > svg {
    height: 1.5rem;
  }
}

.timeline-item .is-icon + .timeline-content .heading {
  margin-top: 1.2rem;
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
  color: $link;

  &:hover, &:active {
    color: $link-dark;
  }
}
