html {
    overflow-y: overlay;
    height: 100%;
}

body {
    font-family: $font-stack;
    font-size: $font-size;
    color: $body-color;
    background-color: $bg-color;

    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    margin: 0;

    // Hack to prevent transitions from animating during page load.
    &.preload {
        transition: none !important;
    }
    &.preload * {
        transition: none !important;
    }
}

.content {
    flex: 1 0 auto;

    box-shadow: 0px 2px 4px $shadow-color;
    padding-bottom: 1.2rem;
}

.container {
    padding: 0 0;
    max-width: $body-width;

    @media (min-width: $mobile-width) { // full size
        width: $body-width;
        margin: auto auto;
    }
    @media (max-width: $mobile-width) { // mobile
        margin-left: 16px;
        margin-right: 16px;
    }
}


main {
    padding: 10px 30px;

    &.container {
        margin-top: 1rem;
        margin-bottom: auto;
    }

    .logo {
        margin: 8px;
        width: 96px;
        height: 96px;

        &.shadow {
            box-shadow: $default-shadow;
            border-radius: 6px;
        }
        &.fshadow {
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .4));
        }
    }
}

footer {
    flex-shrink: 0;

    width: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.25);
    padding: 2rem 0;
    color: adjust-color($body-color, $lightness: 6%);

    p {
        margin: 4px 0;
    }

    .disclaimer {
        margin-top: 0.5rem;
        font-size: 10pt;
    }
}

