// Styles for home page

.home-header {
    align-items: center;
    background-color: $dark-color;
    padding: 2rem;

    img {
        height: 8rem;
        margin-bottom: 1.5rem;
    }
}

.home-columns.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
        text-align: center;
    }

    .col {
        flex: 0 1 calc(50% - 0.5rem);
    }

    .button.discord, .button.github {
        margin: 0.5rem 6rem;
    }

    @media (max-width: 720px) {
        flex-direction: column;
    }
}



