@import "../../node_modules/bulma/sass/utilities/initial-variables";

$body-font: 'Roboto', sans-serif;
$header-font: 'Poppins', sans-serif;
$mono-font: 'IBM Plex Mono', monospace;

$custom-colors: (
        "blurple": (#5865F2),
        "pink": (#DC29DD),
);

$pink: #DC29DD;

$primary: #9722FF;
$link: #27A2FD;
$info: #3041F2;
$success: #41D02A;
$warning: #FCFF22;
$danger: #FF2222;
$dark: #1c1526 !default;

$lighten-amount: 15%;

$primary-light: lighten($primary, $lighten-amount);
$link-light: lighten($link, $lighten-amount);
$info-light: lighten($info, $lighten-amount);
$success-light: lighten($success, $lighten-amount);
$warning-light: lighten($warning, $lighten-amount);
$danger-light: lighten($danger, $lighten-amount);

$dark-light: lighten($dark, 50%) !default;

$blurple: #5865F2;
$blurple-dark: darken($blurple, 3%);
$blurple-light: lighten($blurple, 3%);

$twitter-blue: #1DA1F2;
$twitter-blue-dark: darken($twitter-blue, 3%);
$twitter-blue-light: lighten($twitter-blue, 3%);

$gradle-blue: #28B3C7;
$gradle-blue-dark: darken($gradle-blue, 3%);
$gradle-blue-light: lighten($gradle-blue, 3%);

$text: $white-bis !default;
$text-light: $white-ter;
$text-strong: $white;

@import "../../node_modules/bulma/sass/utilities/derived-variables";

//$background: #271F33;
$body-background-color: #271F33;
$footer-background-color: #1c1526;

$tabs-boxed-link-active-background-color: $body-background-color;

$code: lighten($primary, 20%);
$code-background: $dark;
$pre-background: $dark;

$box-background-color: $dark;
$tag-background-color: $dark;

$message-background-color: $dark;
$message-body-border-color: lighten($dark, 15%);
$message-body-color: $text !important;
$message-body-border-width: 0.1rem;
$message-header-background-color: lighten($dark, 15%);
$message-header-color: $text;

$message-colors: (
        "light": ($dark-light, $light-invert, darken($light, 20%)),
        "dark": (lighten($dark, 15%), $dark-invert, $dark),
        "primary": ($primary, $primary-invert, darken($primary-dark, 30%), $primary-dark),
        "link": ($link, $link-invert, darken($link-dark, 20%), $link-dark),
        "info": ($info, $info-invert, darken($info-dark, 30%), $info-dark),
        "success": ($success, $success-invert, darken($success-dark, 20%), $success-dark),
        "warning": ($warning, $warning-invert, darken($warning-dark, 20%), $warning-dark),
        "danger": ($danger, $danger-invert, darken($danger-dark, 30%), $danger-dark)
);

$content-blockquote-background-color: $dark;
$content-blockquote-border-left: 5px solid lighten($dark, 15%);

$link-hover: $link-dark;
$link-active: $link-dark;

$family-sans-serif: $body-font;
$family-secondary: $header-font;
$family-monospace: $mono-font;

$scheme-main: $body-background-color;
$scheme-invert: $white;

$menu-item-hover-background-color: darken($primary, 30%);
$menu-item-active-background-color: $primary;

$navbar-background-color: $dark;

$navbar-item-active-background-color: $primary;
$navbar-item-active-color: $text;
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $text;

$navbar-box-shadow-color: rgba(0, 0, 0, 0);
$navbar-box-shadow-size: 0px;

$timeline-icon-size: 1.5rem;
$timeline-line-width: 2px;
$timeline-marker-background-color: darken($dark, 10%);
$timeline-marker-border: 2px solid $white;

@import "../../node_modules/bulma-timeline/src/sass/index";
