@import "../../node_modules/bulma/sass/utilities/initial-variables";

$body-font: 'Roboto', sans-serif;
$header-font: 'Poppins', sans-serif;
$mono-font: 'IBM Plex Mono', monospace;

$primary: #9722FF;
$dark: #1c1526;

$blurple: #7289DA;
$blurple-dark: darken($blurple, 10%);
$blurple-light: lighten($blurple, 10%);

$text: $white;
$text-light: $white;
$text-strong: $white;

$background: #271F33;
$body-background-color: #271F33;

$link-hover: $grey-lighter;
$link-active: $grey;

$scheme-main: $body-background-color;
$scheme-invert: $white;

$family-sans-serif: $body-font;
$family-secondary: $header-font;
$family-monospace: $mono-font;
