// TODO: restructure this to use @use statements.

@import "/node_modules/bulma/sass/utilities/initial-variables.sass";
@import "/node_modules/bulma/sass/utilities/derived-variables.sass";
@import "/node_modules/bulma/sass/utilities/mixins.sass";
@import "/node_modules/bulma-timeline/src/sass/index.sass";
@import "/node_modules/@creativebulma/bulma-divider/src/sass/index.sass";
@import "/node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

@import "../../common/modifiers.scss";
@import "../../common/colours.scss";
@import "../../common/derived.scss";
@import "../../components/timeline.scss";

$role-modifier-amount-secondary: 40%;

$body-font: 'Roboto', sans-serif;
$header-font: 'Poppins', sans-serif;
$mono-font: 'IBM Plex Mono', monospace;

$custom-colors: (
        "blurple": (#5865F2),
        "pink": (#DC29DD),
);

$pink: #DC29DD;

$primary: #9722FF;
$link: #27A2FD;
$info: #3041F2;
$success: #41D02A;
$warning: #FCFF22;
$danger: #FF2222;
$dark: #1c1526 !default;

$lighten-amount: 15%;

$primary-light: lighten($primary, $lighten-amount);
$link-light: lighten($link, $lighten-amount);
$info-light: lighten($info, $lighten-amount);
$success-light: lighten($success, $lighten-amount);
$warning-light: lighten($warning, $lighten-amount);
$danger-light: lighten($danger, $lighten-amount);

$dark-lightish: lighten($dark, 20%) !default;
$dark-light: lighten($dark, 50%) !default;

$blurple: #5865F2;
$blurple-dark: darken($blurple, 3%);
$blurple-light: lighten($blurple, 3%);

$rss: #FF8C00;
$rss-dark: darken($rss, 3%);
$rss-light: lighten($rss, 3%);

$twitter-blue: #1DA1F2;
$twitter-blue-dark: darken($twitter-blue, 3%);
$twitter-blue-light: lighten($twitter-blue, 3%);

$mastodon-blue: #3088D4;
$mastodon-blue-dark: darken($mastodon-blue, 3%);
$mastodon-blue-light: lighten($mastodon-blue, 3%);

$gradle-blue: #28B3C7;
$gradle-blue-dark: darken($gradle-blue, 3%);
$gradle-blue-light: lighten($gradle-blue, 3%);

$text: $white-bis !default;
$text-light: $white-ter;
$text-strong: $white;

$admin-background: $admin-dark;
$community-background: $community-dark;
$developer-background: $developer-dark;
$keyholder-background: $keyholder-dark;
$moderator-background: $moderator-dark;
$trainee-background: $trainee-dark;
$neutral-background: #271F33;

$body-background-color: $neutral-background;
$footer-background-color: #1c1526;

$tabs-boxed-link-active-background-color: $body-background-color;

$code: lighten($primary, 20%);
$code-background: $dark;
$pre-background: $dark;

$box-background-color: $dark;
$tag-background-color: $dark;

$message-background-color: $dark;
$message-body-border-color: lighten($dark, 15%);
$message-body-color: $text !important;
$message-body-border-width: 0.1rem;
$message-header-background-color: lighten($dark, 15%);
$message-header-color: $text;

$message-colors: (
        "light": ($dark-light, $light-invert, darken($light, 20%)),
        "dark": (lighten($dark, 15%), $dark-invert, $dark),
        "primary": ($primary, $primary-invert, darken($primary-dark, 30%), $primary-dark),
        "link": ($link, $link-invert, darken($link-dark, 20%), $link-dark),
        "info": ($info, $info-invert, darken($info-dark, 30%), $info-dark),
        "success": ($success, $success-invert, darken($success-dark, 20%), $success-dark),
        "warning": ($warning, $warning-invert, darken($warning-dark, 20%), $warning-dark),
        "danger": ($danger, $danger-invert, darken($danger-dark, 30%), $danger-dark)
);

$content-blockquote-background-color: $dark;

@if $rtl {
  $content-blockquote-border-right: 5px solid lighten($dark, 15%);
} @else {
  $content-blockquote-border-left: 5px solid lighten($dark, 15%);
}

$link-hover: $link-dark;
$link-active: $link-dark;

$family-sans-serif: $body-font;
$family-secondary: $header-font;
$family-monospace: $mono-font;

$scheme-main: $body-background-color;
$scheme-invert: $white;

$menu-item-hover-background-color: darken($primary, 30%);
$menu-item-active-background-color: $primary;

$navbar-background-color: $dark;

$navbar-dropdown-item-hover-background-color: $primary;

$navbar-item-active-background-color: $primary;
$navbar-item-active-color: $text;
$navbar-item-hover-background-color: $primary;
$navbar-item-hover-color: $text;

$navbar-box-shadow-color: rgba(0, 0, 0, 0);
$navbar-box-shadow-size: 0px;

$timeline-icon-size: 1.5rem;
$timeline-line-width: 2px;
$timeline-marker-background-color: darken($dark, 10%);
$timeline-marker-border: 2px solid $white;

$card-background-color: $dark-lightish;
$card-shadow: 0;

$default-border-color: darken($text, 30%);
$default-border: 1px solid $default-border-color;
$pre-border: 1px solid lighten($dark, 20%);
$navbar-transparent-background: rgba(0, 0, 0, 0.3);

$input-disabled-color: $grey;
$input-disabled-border-color: $grey;
$input-disabled-background-color: $dark;

$button-disabled-border-color: $grey;
$button-disabled-color: $grey;
$button-disabled-background-color: $dark;

$modal-close-dimensions: 80px;
$modal-background-background-color: rgba(0, 0, 0, 0.86);
