---
export interface Props {
	title?: string,
	style?: string,
}

const props = Astro.props as Props;

const title = props.title?.trim() ?? "";
const style = props.style?.trim() ?? "";

const isTitlePresent = title.length != 0;
---

<article class={`message is-${style}`}>
	{ isTitlePresent
	? <div class='message-header'>{title}</div>
	: <></>
	}
	<div class="message-body">
		<slot />
	</div>
</article>