---
import { sortBy } from "src/util/Util";
import PostInfo, { PostFrontmatter } from "./PostInfo.astro";

const allPosts = await Astro.glob<PostFrontmatter>('/src/pages/blog/excerpt/*.md');
sortBy(allPosts, post => new Date(post.frontmatter.date));

const latestPosts = allPosts.slice(0, 3);
---

{latestPosts.map(post => <>
    <article class="blog-post with-divider">
        <h2 class="subtitle"><a href={post.url}>{post.frontmatter.title}</a></h2>

        <PostInfo post={post.frontmatter} />
        <post.Content />
    </article>
</>)}
<div class="is-flex mt-4 is-justify-content-right">
    <a class="button is-primary" href="/blog">
        <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
        <span>More Posts</span>
    </a>
</div>