---
import config from '@data/Site';
import Variables from '@data/Variables';
import i18next from 'i18next';
import { DateTime } from 'luxon';

export interface Props {
	post: PostFrontmatter,
}
export interface PostFrontmatter {
	title: string,
	author?: string,
	authors?: string[],
	date?: string,
}

const { post } = Astro.props as Props;
const { title, author, authors, date } = post;
const variables = new Variables(title)
---

<div class="media">
	<div class="media-content">
		{(() => {
		if (author) {
		return <p class="title is-5">{author}</p>;
		} else if (authors) {
		return <p class="title is-5">{authors.join(', ')}</p>;
		} else {
		return <></>;
		}
		})()}

		{ date
		? <p class="subtitle is-6">
			{DateTime.fromISO(date)
			.setLocale(i18next.language)
			.toLocaleString(DateTime.DATE_FULL)}
		</p>
		: <></>
		}

	</div>
</div>