---
import { t } from "i18next";
import { Icon } from "astro-icon/components"
import { InferEntrySchema } from "astro:content";

export interface Props {
	members: InferEntrySchema<"teamMembers">["systemMembers"]
}


const { members } = Astro.props as Props;
---

<div class="media system-member-title">
	<div class="media-content">
		<p class="subtitle is-6 has-text-centered">
			{t("team:plural-system")}
		</p>
	</div>
</div>

<div class="system-members">
	{
		members && members !== "---" ? (
			members.map((member) => (
				<div class="has-tooltip-arrow has-tooltip-bottom" data-tooltip={member.name}>
					<img src={member.icon} />
				</div>
			))
		) : (
			<div
				class="has-tooltip-arrow"
				data-tooltip={t("team:member-list-redacted")}
			>
				<Icon name="mdi:heart-box-outline" />
			</div>
		)
	}
</div>
