---
import i18next from "i18next";
import Button from "./Button.astro";

const langs = [...i18next.languages].sort()
---

<div class="modal" id="language-modal">
	<label for="language-switcher" class="modal-background" id="language-modal-background" data-action="click->languages#hide"></label>

	<div class="modal-content">
		<section class="box">
			{langs.map(language => {
				return <><Button
					href={Astro.url.pathname.replace(i18next.language, language)}
					type="primary"
					text={i18next.getResource(language, "common", "lang-name")}
				/>&nbsp;</>
			})}
		</section>

		<div class="is-flex is-flex-direction-row mt-3">
			<label
				class="button is-primary"
				id="language-modal-close-button"
				aria-label="close"
				for="language-switcher"
				data-action="click->languages#hide"
			>
				<span class="icon"><i class="fas fa-x"></i></span>
				<span>Close</span>
			</label>
		</div>
	</div>
</div>