---
---

<div class="modal" id="language-modal">
	<div class="modal-background" id="language-modal-background" data-action="click->languages#hide"></div>

	<div class="modal-content">
		<section class="box">
			We're not quite ready for this to be used just yet, but stay tuned!
		</section>

		<div class="is-flex is-flex-direction-row mt-3">
			<a class="button is-primary" id="language-modal-close-button" aria-label="close"
				data-action="click->languages#hide">
				<span class="icon"><i class="fas fa-x"></i></span>
				<span>Close</span>
			</a>
		</div>
	</div>
</div>