---
export interface Props {
	arch: string;
	title: string;
	icon: string;
	class_?: string;
}
const {
	arch,
	title,
	icon,
	class_ = "",
} = Astro.props as Props;
---

<a href={"/api/v1/download-latest-installer/" + arch} class={"is-flex is-flex-direction-row is-flex-grow-0 " + class_}>
	<span class="icon is-small mr-2">
		<i class:list={["fab", "fa-" + icon]} aria-hidden="true"></i>
	</span>
	{title}
</a>
