---
import i18next from "i18next";
import { DateTime } from "luxon";
import Markdown from "@astrojs/markdown-component";
import { MarkdownInstance } from "astro";

const { post } = Astro.props;
const { title, authors = [], date } = post.frontmatter;

function getExcerptOfPost<T>(md: MarkdownInstance<T>): string {
	const content = md.rawContent();
	return content.slice(0, content.indexOf("<!-- MORE -->"));
}
---

<article class="blog-post with-divider">
	<h2 class="subtitle"><a href={post.url}>{title}</a></h2>
	<div class="media">
		<div class="media-content">
			{ (authors.length > 0) && <p class="title is-5">{authors.join(', ')}</p> }

			{ date
			&& <p class="subtitle is-6">
				{DateTime.fromISO(date)
				.setLocale(i18next.language)
				.toLocaleString(DateTime.DATE_FULL)}
			</p>
			}

		</div>
	</div>

	<Markdown>{getExcerptOfPost(post)}</Markdown>

	<p></p>
</article>