---
import { localizeList } from "@util/Util";
import { t } from "i18next";

const { post } = Astro.props;
const { authors = [], date } = post.data;
---

<div class="media">
	<div class="media-content">
		{authors.length > 0 && <p class="title is-5">{localizeList(authors)}</p>}

		{
			date && (
				<p class="subtitle is-6">{t("post-date", { date: new Date(date) })}</p>
			)
		}
	</div>
</div>
