---
import PostInfo from "./PostInfo.astro";
import { Markdown } from "studiocms:markdown-remark"
import { CollectionEntry } from "astro:content";

const { post } = Astro.props;
const title = post.data.title;

interface Props {
	post: CollectionEntry<"blog">
}
---

<article class="blog-post with-divider">
	<h2 class="subtitle"><a href={post.filePath}>{title}</a></h2>

	<PostInfo {post} />
	<Markdown content={post.data.excerpt} />
	<p></p>
</article>
