---
import { localizeList } from "@util/Util";
import i18next, { t } from "i18next";
import { DateTime } from "luxon";

const { post } = Astro.props;
const { authors = [], date } = post.frontmatter;
---

<div class="media">
	<div class="media-content">
		{authors.length > 0 && <p class="title is-5">{localizeList(authors)}</p>}

		{
			date && (
				<p class="subtitle is-6">
					{DateTime.fromISO(date)
						.setLocale(i18next.language)
						.toLocaleString(DateTime.DATE_FULL)}
				</p>
			)
		}
	</div>
</div>
