---
import PostInfo from "./PostInfo.astro";
import type { MarkdownInstance } from "astro";

const { post } = Astro.props;
const { title } = post.frontmatter;

async function getExcerptOfPost<T extends Record<string, any>>(md: MarkdownInstance<T>): Promise<string> {
	const content = await md.compiledContent();
	return content.slice(0, content.indexOf("<!-- MORE -->"));
}
---

<article class="blog-post with-divider">
	<h2 class="subtitle"><a href={post.url}>{title}</a></h2>

	<PostInfo {post} />

	<Fragment set:html={getExcerptOfPost(post)}/>

	<p></p>
</article>
