---
import Footer from "@components/Footer.astro";
import HtmlHead from "@components/HtmlHead.astro";
import NavBar from "@components/NavBar.astro";

export interface Props {
    navless?: boolean,
    isPrivate?: boolean,
}
const {
    navless = false,
    isPrivate = false,
} = Astro.props as Props;

//@ts-ignore this comes with Vite
const shouldHide = isPrivate && import.meta.env.PROD
---

<!DOCTYPE html>

<html lang="{{ site.lang }}" {/*  dir="rtl" */}>

<HtmlHead title="ha" />

<body class="page">
    { navless ? <NavBar /> : <></> }

    { shouldHide
        ? <section class="section">
            <main class="content container">
                <h1 class="title">Coming soon!</h1>

                Thanks for being patient.
            </main>
        </section>
        : <slot />
    }

    <Footer />
<!-- {% include language-modal.liquid %} -->

<!-- <script>
    {% if page.has_downloads %}
    window.pageHasDownloads = true
    {% else %}
    window.pageHasDownloads = false
    {% endif %}
</script> -->

</body>
</html>