---
import BaseNavless from "./base-navless.astro";
---

<BaseNavless content={Astro.props.content}>
    <div class="columns is-centered">
        <div class="column is-10">
            <slot />
        </div>
    </div>
</BaseNavless>