---
import Head from "../components/head.astro";
import Footer from "../components/footer.astro";
---

<html lang="en-us">
    <Head content={Astro.props.content} />

    <body class="page">
        <slot />

        <Footer />
        <script>
            twemoji.parse(document.body);
        </script>
    </body>
</html>