---
import Base from "./base.astro";
---

<Base content={Astro.props.content}>
    <section class="section">
        <main class="content container">
            <slot />
        </main>
    </section>
</Base>