---
import Base from "./Base.astro"
---

<Base>
    <div class="columns is-centered">
        <div class="column is-10">
            <section class="section">
                <main class="content container">
                    <slot />
                </main>
            </section>
        </div>
    </div>
</Base>