---
import BaseNavless from "./base-navless.astro";
import Nav from "../components/nav.astro";
---
    <BaseNavless>
    <section class="hero is-dark has-background-patches">
        <div class="hero-head">
            <Nav />
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <picture>
                    <source srcset="/assets/img/banner.svg" media="(prefers-color-scheme: dark)">
                    <img class="is-center" style="margin:auto; height: 8rem;" alt="Quilt Banner"
                        src="/assets/img/banner-light.svg" />
                </picture>

                <!--
                <div class="field is-grouped is-grouped-centered mt-5">
                    <p class="control">
                        <a href="/install/" class="button is-primary">Install</a>
                    </p>

                    <p class="control">
                        <a href="/dev/" class="button is-info">Create</a>
                    </p>

                    <p class="control">
                        <a href="/dev/" class="button is-link">Contribute</a>
                    </p>
                </div>
                -->
            </div>
        </div>
    </section>

    <section class="section">
        <main class="content container">
            <slot />
        </main>
    </section>
</BaseNavless>