---
import HeroBase from "./HeroBase.astro";

import i18next from 'i18next';
i18next.changeLanguage('zh');
---

<HeroBase>
    <section class="section">
        <main class="content container">
            <slot />
        </main>
    </section>
</HeroBase>
