---
import Default from "./Default.astro";
import Message from "@atoms/Message.astro"
import HomeMessage from "@parts/home/HomeMessage.astro"
import Main from "@parts/install/Main.astro";
import Launchers from "@parts/install/Launchers.astro";
import Awaiting from "@parts/install/Awaiting.astro";
import WipWarning from "@parts/install/WipWarning.astro";
---

<Default content={Astro.props.content}>
	<div class="columns is-centered">
		<div class="column is-half">
			<WipWarning />
		</div>
	</div>

	<div class="columns">
		<div class="column is-7">
			<div class="has-text-centered content mb-0 pb-0">
				<h1 class="mb-0">Direct Installation</h1>
			</div>

			<div class="grid-picker">
				<Main />
			</div>

			<div class="has-text-centered content mb-0 pb-0">
				<slot name="notEndorsement" />
			</div>

			<div class="grid-picker">
				<Launchers />
			</div>
		</div>

		<div class="column is-5">
			<div class="has-text-centered content mb-0 pb-0">
				<slot name="awaitingSupport" />
			</div>

			<div class="grid-picker">
				<Awaiting />
			</div>
		</div>
	</div>
</Default>