---
import Default from "./Default.astro";
import { BaseProps } from "./Base.astro";
//@ts-ignore
import Button from "@atoms/Button.astro";
import Awaiting from "@parts/install/Awaiting.astro";
import Launchers from "@parts/install/Launchers.astro";
import Main from "@parts/install/Main.astro";
import WipWarning from "@parts/install/WipWarning.astro";

import rtlSettings from "@data/RtlSettings";
import { localizePath } from "@util/Util";
import { t } from "i18next";

export interface Props extends BaseProps {
	platformKey: string;
	website?: string;
}

const content = Astro.props.content as Props;
const { left } = rtlSettings();
---

<Default content={Astro.props.content}>
	<div class="columns">
		<div class="column is-5">
			<div class="is-hidden-tablet">
				<Button
					type="link"
					href={localizePath("/install")}
					icon={`fas fa-arrow-${left}`}
					textKey="install:button-back"
				/>
				<button class="button is-primary">
					<span class="icon"><i class="fas fa-ellipsis-h"></i></span>
					<span>{t("install:button-menu")}</span>
				</button>

				<br />
				<br />
			</div>

			<div class="is-hidden-mobile">
				<Button
					type="link is-hidden-mobile mb-2"
					href={localizePath("/install")}
					icon={`fas fa-arrow-${left}`}
					textKey="install:button-back.full"
				/>
				<div class="grid-picker mb-0">
					<Main />
				</div>

				<hr class="my-0" />

				<div class="grid-picker mb-0">
					<Launchers />
				</div>

				<hr class="my-0" />

				<div class="grid-picker">
					<Awaiting />
				</div>

				<hr class="is-hidden-desktop is-hidden-tablet my-0" />
			</div>
		</div>

		<div class="column">
			<WipWarning />

			<div class="heading-with-button">
				<h1>{t(content?.platformKey, { ns: "install" })}</h1>

				{
					content?.website && (
						<Button
							href={content?.website}
							type="link"
							icon="fas fa-globe"
							textKey="install:button-website"
						/>
					)
				}
			</div>

			<slot />
		</div>
	</div>
</Default>
