---
import Default from "./default.astro";
---

<Default {Astro.props.content}>
    <h1>Install Quilt</h1>
    <p>Select the launcher you use:</p>

    <div class="grid-picker">
        <a class="notification is-primary" href="/install/">
            <p class="subtitle has-text-centered">Mojang</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/minecraft.png" />
            </figure>
        </a>

        <a class="notification is-dark" href="/install/server">
            <p class="subtitle has-text-centered">Server</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/minecraft.png" />
            </figure>
        </a>

        <a class="notification is-dark" href="/install/multimc">
            <p class="subtitle has-text-centered">MultiMC</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/multimc.svg" />
            </figure>
        </a>

        <a class="notification is-dark" href="/install/atlauncher">
            <p class="subtitle has-text-centered">ATLauncher</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/atlauncher.svg" />
            </figure>
        </a>

        <a class="notification is-dark" href="/install/mcupdater">
            <p class="subtitle has-text-centered">MCUpdater</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/mcupdater.png" />
            </figure>
        </a>

        <a class="notification is-dark" href="/install/technic">
            <p class="subtitle has-text-centered">Technic</p>

            <figure class="image is-centered">
                <img src="/assets/img/launchers/technic.svg" />
            </figure>
        </a>
    </div>

    <slot />
</Default>
