---
import Message from "@atoms/Message.astro";
import { t } from "i18next";
import Base from "./Base.astro";
import { Icon } from "astro-icon/components"
---

<Base content={Astro.props.content}>
	<main class="columns is-centered reset-overflow">
		<div class="column is-10">
			<section class="section">
				<div class="columns reset-overflow">
					<div class="column is-narrow">
						<div class="is-hidden-tablet">
							<button class="button is-primary" id="sidebar-button"
									aria-controls="sidebar-box" aria-haspopup="menu">
								<Icon name="mdi:dots-vertical" />
								<span>{t("sidebar-versions")}</span>
							</button>

							<br />
							<br />
						</div>

						<div class="box is-hidden-mobile is-sticky" id="sidebar-box">
							<aside class="menu">
								<p class="menu-label">{t("sidebar-versions")}</p>

								<ul class="menu-list" id="sidebar"></ul>
							</aside>
						</div>
					</div>

					<div class="column">
						<div class="columns is-centered">
							<div class="column max-width-50">
								<noscript>
									<Message style="danger mb-4">
										<slot name="noScript" />
									</Message>
								</noscript>

								<input
									id="close-missing-versions"
									type="checkbox"
									class="is-hidden"
								/>
								<div class="message is-info" id="missing-versions-warning">
									<div class="message-body content">
										<div class="is-flex is-flex-direction-row is-fullwidth">
											<h2 class="is-justify-content-start is-flex-grow-1">
												<slot name="missingVersions" />
											</h2>
											<div class="is-justify-content-end">
												<label
													for="close-missing-versions"
													class="has-tooltip-arrow has-tooltip-bottom has-text-link"
													data-tooltip="Dismiss"
												>
													<span class="icon"
														><Icon name="mdi:close-circle-outline" />
													</span>
												</label>
											</div>
										</div>

										<slot name="missingVersionsExplanation" />
									</div>
								</div>
							</div>
						</div>

						<div id="before-content"></div>

						<h1 id="title" class="title">
							<slot name="patchnotes" />
						</h1>

						<img
							id="image"
							class="patchnotes-image"
							style="border-radius: 10px; margin: 10px;"
						/>

						<div id="body" class="content">
							<slot name="patchnotesPrompt" />
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<style lang="scss">
		#close-missing-versions:checked ~ {
			#missing-versions-warning {
				display: none !important;
			}
		}

		@media screen and (min-width: 769px), print {
			#body {
				// Reserves extra height equal to the version selection sidebar's height.
				// This ensures that the scrollbar can fit fully on-screen. Even if the
				// page has been scrolled such that the title of the body is exactly on top.
				min-height: calc(100vh - 2rem);
			}
		}

		#before-content {
			// Translation equal to the padding which is above the title of the changelog.
			transform: translateY(-1.5rem);
		}

		.reset-overflow {
			overflow-x: unset !important;
		}
	</style>

	<script is:inline>
		const baseUrl = "https://launchercontent.mojang.com";
		const v2Url = baseUrl+"/v2";

		// This only applies to mobile. On desktop the sidebar is always enabled.
		var mobileSidebarEnabled = false;
		function updateSidebar(enabled) {
			mobileSidebarEnabled = enabled;
			document.getElementById("sidebar-button").ariaExpanded = enabled;
			if (mobileSidebarEnabled) {
				// Sidebar is enabled, so we need to un-hide it
				document.getElementById("sidebar-box").classList.remove("is-hidden-mobile");
			} else {
				// Sidebar is disabled, so we need to hide it
				document.getElementById("sidebar-box").classList.add("is-hidden-mobile");
			}
		}

		// Toggle sidebar when button is pressed
		document.getElementById("sidebar-button").onclick = () => updateSidebar(!mobileSidebarEnabled);

		// Fetch launcher metadata
		fetch(v2Url + "/javaPatchNotes.json")
			.then((response) => response.json())
			.then((data) => {
				// Render patch notes
				const render = () => {
					// Read the version from the anchor and look it up in the json
					var version = window.location.hash.substring(1);
					var entry = data.entries.find((e) => e.version === version);

					if (entry) {
						// Once a version is selected, we close the sidebar
						updateSidebar(false);

						// Scroll to the top of the changelog
						document.getElementById("before-content").scrollIntoView();

						// Replace title, body and image url with the selected version
						document.getElementById("title").innerText = entry.title;

						fetch(v2Url + "/" + entry.contentPath)
							.then((response) => response.json())
							.then((content) => {
								// Fix paragraphs inside of the body
								const body = content.body
									.replaceAll("​", "")
									.replaceAll("<p></p>", "");
								const bodyElement = document.getElementById("body");
								bodyElement.innerHTML = body;
								// Replace urls to the official mojira with a mojira.dev
								[...bodyElement.getElementsByTagName("a")].forEach((link) => {
									const m = /https:\/\/bugs\.mojang\.com\/browse\/MC-(\d+)/.exec(link.href);
									if (m) {
										link.href = `https://mojira.dev/MC-${m[1]}`
									}
								})
							});

						document
							.getElementById("image")
							.setAttribute(
								"src",
								baseUrl + entry.image.url
							);

						for (let elem of document.getElementsByClassName(
							"version-item is-active"
						)) {
							elem.classList.remove("is-active");
						}

						document.getElementById("button-"+entry.version).classList.add("is-active");
						// document.getElementsByClassName("menu")[0].scrollIntoView()
					} else {
						// If no version is selected currently, open the sidebar
						updateSidebar(true);
					}
				};

				// Create nav-links

				data.entries.sort((a,b) => Date.parse(b.date) - Date.parse(a.date));
				data.entries.forEach((entry) => {
					const listItem = document.createElement("li");
					const newRef = document.createElement("a");

					newRef.classList.add("version-item");
					newRef.id = "button-"+entry.version;
					newRef.innerText = entry.version;
					newRef.setAttribute(
						"href",
						window.location.pathname + "#" + entry.version
					);

					listItem.appendChild(newRef);
					document.getElementById("sidebar").appendChild(listItem);
				});

				// Rerender the patch note when the url changes
				window.onhashchange = render;
				render();
			});
	</script>
</Base>
