on: [push]
name: Commit preview

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    name: Generate commit preview
    steps:
      - name: Checkout
        uses: akarys42/checkout-with-filter@main
        with:
          filter: 'blob:none'
          fetch-depth: 0

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build the project
        run: pnpm build

      - name: Publish to Pages
        uses: cloudflare/pages-action@1
        id: publish
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: staging-quiltmc-org
          directory: dist

      - name: Add a comment on the commit
        uses: peter-evans/commit-comment@v1
        with:
          token: ${{ secrets.COZY_PAT }}
          repository: ${{ github.repository }}
          sha: ${{ github.sha }}
          body: "See preview on Cloudflare Pages: ${{ steps.publish.outputs.url }}"
