on: [push]
name: Commit preview

jobs:
  generate-preview:
    name: Generate commit preview
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write

    steps:
      - name: Checkout
        uses: akarys42/checkout-with-filter@ede52d9749a9e87df3ec67e17cc798745cf88d93 # main
        with:
          filter: "blob:none"
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Build the project
        run: npm build

      - name: Upload HTML artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-html
          path: dist
          retention-days: 1

      - name: Upload Functions artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-functions
          path: functions
          retention-days: 1

      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-package
          path: |
            package.json
            package-lock.json
          retention-days: 1

      - name: Publish to Pages
        uses: cloudflare/pages-action@1
        id: publish
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: quiltmc-org
          directory: dist

      - name: Add a comment on the commit
        uses: peter-evans/commit-comment@5a6f8285b8f2e8376e41fe1b563db48e6cf78c09 # v3.0.0
        with:
          token: ${{ secrets.COZY_PAT }}
          repository: ${{ github.repository }}
          sha: ${{ github.sha }}
          body: "See preview on Cloudflare Pages: ${{ steps.publish.outputs.url }}"
