on: [pull_request]
name: PR preview

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    name: Generate PR preview
    steps:
      - name: Checkout
        uses: akarys42/checkout-with-filter@main
        with:
          filter: 'blob:none'
          fetch-depth: 0

      - name: Enable Corepack shims
        run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Build the project
        run: pnpm build

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: website-html
          path: dist
          retention-days: 1
