on: [pull_request]
name: PR preview

jobs:
  build:
    name: Generate PR preview
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: akarys42/checkout-with-filter@ede52d9749a9e87df3ec67e17cc798745cf88d93 # main
        with:
          filter: "blob:none"
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: "20"

      - name: Setup pnpm
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the project
        run: pnpm build

      - name: Upload HTML artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-html
          path: dist
          retention-days: 1

      - name: Upload Functions artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-functions
          path: functions
          retention-days: 1

      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-package
          path: |
            package.json
            pnpm-lock.yaml
          retention-days: 1
